*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    width: 100%;
    height: 70px;
}

main{
    
    margin-top: 10rem;
    max-width: 1000px;
    margin: 0 auto;
}

footer{
    width: 100%;
    background-color: black;

}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.flex-space{
    display: flex;
    justify-content: space-between;
}

.column{
    margin-top: 10rem;
}

.nav{
    padding-left: 2rem;
    padding-bottom: 1rem;
}

button{
    border: none;
    background-color: rgb(65, 138, 248);
    color: white;
    margin: 0 1rem;
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
}

.button-white{
    border: none;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 0.5rem 0.5rem;
    border: 1px grey solid;
    
}

#logo{
    margin-left: 1rem;
    vertical-align: bottom;
}

.container-blue{
    height: 670px;
    margin: 0 auto;
    max-width: 1300px;

}

.jumbo{
    max-height: 670px;
    background-color: rgb(140, 190, 255);
    
}


h1{
    font-size: 4rem;
    padding-top: 4rem;
    padding-bottom: 5rem;
}

h2{
    font-size: 3rem;
} 

h3{
    font-size: 2rem;
    padding-bottom: 1rem;
}

.box{
    width: 100%;
    height: 200px;
    margin-top: 3rem;
}

.text{
    width: 30%;
    padding: 1rem 1rem;
    font-size: 1.2rem;
}

p{
    margin-bottom: 2rem;
}

.simbol{
    font-size: 3rem;
}

.contenuto{
    width: 70%; 
    height: 509px;
    background-image: url("./img/jumbo.png");
    background-size: cover;
    margin-top: 12rem;
}

.proposta{
    width: 700px;
}

.sezioni{
    padding-top: 3rem;
}

.radio{
    padding-top: 3rem;
}

.elenco{
    height: 927px;
    width: calc(100% / 3);
    border: solid 1px black;
    margin-right: 2rem;
}

.spazio{
    padding-left: 1.3rem;
}

.fatturazione{
    padding-right: 2rem;
}

.user{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 0.5rem 0;
}

.team{
    border-bottom: 1px soldi black;
    text-align: center;
    padding: 0.5rem 0;
}

.sub{
    width: 100%;
    border: 1px black solid;
    margin-top: 2rem;
}

.titolo{
    width: 100%;
}

.enter{
    width: 75%;
}

.contatta{
    width: 25%;
}

.numero{
    padding-top: 7rem;
    padding-bottom: 4rem;
}

.discord{
    width: 100%;
    background-color: white;
    height: 747px;
    
}

.interlinea{
    color: blue;
}


.immagine{
    height: 440px;
    width: 65%;
    background-image: url("./img/partner.png");
    background-size: cover;

}

.testo{
    height: 440px;
    width: 35%;
    padding-left: 2rem;
}

.row{
    width: 100%;
    padding-top: 3rem;

}

.bordo{
    height: 1px;
    width: 100px;
    background-color: grey;
    margin-bottom: 2rem;
}


.card{

    width: 33%;
    padding-bottom: 2rem;
    margin-right: 2rem;
}

div.card div.verde img{
    width: 100%;
}

.grey{
    color: grey;
}

.sponsor{
    width: 100%;
}

.azzurro{
    background-color: rgb(140, 190, 255);
    height: 300px;
    padding-top: 2rem;
    padding-bottom: 19rem;
}

.pubblicità{
    width: calc(100% / 3);
    height: calc(100vw / 3);
    border: solid black 2px;
}

.business{
    max-width: 1000px;
    margin: 4rem auto;
}

.question{
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 10rem;
}

.border{
    border: 1px black solid;
    padding: 2rem 0;
    border-right-style: none;
    border-left-style: none;
}

.chevron{
    padding-left: 25rem;
}

.end{
    max-width: 1300px;
    margin: 0 auto;
    color: white;
    padding-bottom: 10rem;
}

div.pubblicità div img{
    width: 50%;
}

.pubblicità{
    position: relative;
}

.designit{
    position: absolute;
    width: 50%;
    height: 50%;
    padding: 5rem 2rem;
    padding-bottom: 7rem;
    background-color: rgb(156, 250, 156);
    
}

.one{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}


.arizona{
    position: absolute;
    width: 50%;
    height: 50%;
    padding: 5rem 2rem;
    padding-bottom: 7rem;
    right: 0;
    top: 0;
    background-color: rgb(240, 27, 98);
    

}

.two{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}


.florida{
    position: absolute;
    width: 50%;
    height: 50%;
    padding: 8rem 2rem;
    padding-bottom: 7rem;
    bottom: 0;
    left: 0;
    background-color: aqua;
    
    
}

.three{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}


.tops{
    position: absolute;
    width: 50%;
    height: 50%;
    padding: 5rem 2rem;
    padding-bottom: 7rem;
    right: 0;
    bottom: 0;
    background-color: red;
    
}

.four{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

.bicy{
    position: absolute;
    width: 50%;
    height: 50%;
    padding: 5rem 2rem;
    padding-bottom: 7rem;
    left: 0;
    top: 0;
    background-color: red;
}

.hearts{
    position: absolute;
    width: 50%;
    height: 50%;
    padding: 5rem 2rem;
    padding-bottom: 7rem;
    right: 0;
    top: 0;
    background-color: rgb(114, 168, 248);
}

.lonely{
    position: absolute;
    width: 50%;
    height: 50%;
    padding: 5rem 2rem;
    padding-bottom: 7rem;
    bottom: 0;
    left: 0;
    background-color: rgb(1, 1, 119);
}

.clear{
    position: absolute;
    width: 50%;
    height: 50%;
    padding: 5rem 2rem;
    padding-bottom: 7rem;
    right: 0;
    bottom: 0;
    background-color: yellow;
}

.padding{
    padding: 3rem;
}

.piccolo{
    width: 20px;
}

.membri{
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 1rem;
    font-size: 1.2rem;
}

.morten{
    padding-top: 2rem;
    padding-left: 4rem;
    font-size: 1.2rem;
}

.domande{
    padding-top: 5rem;
}


h4{
    font-size: 1.5rem;
}

ul{
    list-style: none;
    padding-top: 4rem;
    line-height: 3rem;
    
}




